.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login .cover-image {
  display: none;
  height: 100%;
}
.login img {
  height: 100%;
  object-fit: cover;
}
.login-form {
  height: 100%;
  display: grid;
  place-items: center;
  background: var(--color-light);
}

.form {
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;

  background-color: var(--color-white);
  /* padding: var(--card-padding); */
  border-radius: var(--card-border-radius);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-row label {
  width: 30%;
  font-size: 0.75rem;
}
.form-row input {
  font-size: 1rem;
  min-width: 15rem;
  width: 70%;
}
.form-alert {
  color: red;
  display: none;
}
.form-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}
.form .btn-block {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  /* .login {
    grid-template-columns: repeat(2, 1fr);
  }
  .login .cover-image {
    display: block;
    grid-column-start: 1/2;
    width: 100%;
    display: none;
  } */
  .login .login-form {
    grid-column-start: 2/3;
    width: 100%;
  }
  .form .btn-block {
    margin-bottom: 1.5rem;
  }
  .form-row {
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  .form-row input {
    min-width: 20rem;
  }
}
