.suggested-users {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-primary);
}
.suggested-users-container {
  margin-top: 1rem;
}
