.user-card {
  background: var(--color-light);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  border: 1px solid var(--color-primary);
}
.user-card .user {
  margin-bottom: 0;
}
.user-card .action .btn {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}
.user-card .btn-small {
  line-height: 0;
  padding: 0.3rem 0.5rem;
}
/* .user-card .decline-btn {
  background: var(--color-white);
} */

/* .following-btn {
  background: var(--color-white);
} */
