.main {
  display: grid;
  margin-top: 5rem;
}
.left {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 10;
}
.middle {
  width: 100%;
}
.right {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    column-gap: 2rem;
  }
  .right {
    grid-column: 3/4;
    position: sticky;
    top: 5rem;
    height: max-content;
  }
  .left {
    position: sticky;
    top: 5rem;
    display: flex;
    align-items: flex-start;
    grid-column: 1/2;
    z-index: 0;
    height: max-content;
  }
  .middle {
    grid-column: 2/3;
  }
}
