.header {
  padding: var(--header-padding);
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-bottom: 0;
  color: var(--color-dark);
}
.search-bar {
  display: none;

  border-radius: var(--border-radius);
  background: var(--color-light);
  padding: var(--search-padding);
  border: 1px solid var(--color-primary);
  gap: 1rem;
}

.search-bar input {
  background: transparent;
  width: 30vw;

  font-size: 0.9rem;
  color: var(--color-dark);
}
.search-bar input::placeholder {
  color: var(--color-gray);
}
.theme-btn,
.theme-container .icon {
  border-radius: 50%;
}
.theme-btn,
.theme-container .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.theme-container {
  display: flex;
  gap: 0.5rem;
}
.theme-btn-active {
  border: 2px solid var(--color-dark);
}
.create {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .search-bar {
    display: flex;
  }
  .theme-btn,
  .theme-container .icon {
    width: 2rem;
    height: 2rem;
  }
}
