.post {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  margin-bottom: 1rem;
  /* font-size: 0.85rem; */
  line-height: 1.5;
}
.post .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.post-image {
  margin: 0.5rem 0;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}
.action-button {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  font-size: 1.5rem;
  align-items: center;
}
.interaction-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.like-count {
  margin-bottom: 0;
}
/* .caption {
  margin: 0.25rem 0;
} */
.readMore-btn {
  color: var(--color-primary);
  padding: 0;
  background: transparent;
  text-transform: capitalize;
}
.more-options {
  position: relative;
  background: white;
}
.more-options div {
  box-shadow: var(--shadow-1);
  position: absolute;
  right: 0;
  top: -30px;
  border: 2px solid var(--color-light);
  border-radius: 0.25rem;
}
.more-options button {
  background: white;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-size: 0.95rem;
  padding: 0.5rem 0.25rem;
  width: 100%;
  border-bottom: 2px solid var(--color-light);
}
.more-options .icon {
  font-size: inherit;
}
.more-icon.icon {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .post {
    margin-bottom: 1.5rem;
  }
}
