.signup-form {
  height: 100%;
  display: grid;
  place-items: center;
  background: var(--color-light);
}
.login-text a {
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: 0.15rem;
}
